
/**
 * Navigation Div
 **/
#navigation {
	text-align: right;
}


/**
 * Top Navigation 
 **/
#topnav {
	margin : 0;
	margin-top: 20px;
}

#topnav ul, #topnav li {
	display : inline;
	list-style-type : none;
	margin : 3px;
	padding : 3px;
	font-size: 0.9em;
}

/**
 * Page Navigation
 **/

#pagenav {
	margin : 0;
	margin-top: 25px;
	padding-bottom : 2px;
	padding-left : 6px;
}

#pagenav ul, #pagenav li {
	display : inline;
	list-style-type : none;
	margin : 5px;
	padding : 5px;
}

#pagenav li#childnav {
	border: 1px solid #fff;
	border-bottom: 0px;
	background-color: #d0e0e8;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 5px;

	/* Don't display rounded corners at the bottom corners */
	-moz-border-radius-bottomleft: 0px;
	-khtml-border-radius-bottomleft: 0px;
	-webkit-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;

	-moz-border-radius-bottomright: 0px;
	-khtml-border-radius-bottomright: 0px;
	-webkit-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;

}

#pagenav li#childnav:hover {
	background-color: #f8f8f8;
}

#pagenav li#childnav_current {
	border: 1px solid #fff;
	border-bottom: 0px;
	background-color: #fff;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 5px;

	/* Don't display rounded corners at the bottom corners */
	-moz-border-radius-bottomleft: 0px;
	-khtml-border-radius-bottomleft: 0px;
	-webkit-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;

	-moz-border-radius-bottomright: 0px;
	-khtml-border-radius-bottomright: 0px;
	-webkit-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;

}

#pagenav li#childnav_current:hover {
	background-color: #f8f8f8;
}

#pagenav ul#subchildnav {
	display : inline;
	left : 400px;
	position : absolute;
	top : 160px;
}


#pagenav li#childnav a{
	border-bottom : 1px solid #fff;
	color : #002c68;
	padding: 6px;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
}

#pagenav li#childnav_current a {
	border-bottom : 1px solid #fff;
	color : #002c68;
	padding: 6px;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
}

